version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: runningmate-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpw
      MYSQL_DATABASE: runningmate
      MYSQL_USER: running_user
      MYSQL_PASSWORD: running_pw
      TZ: Asia/Seoul
    ports:
      - "3307:3306"
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data: